* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #FFFFFF;
  --bg-url: url(../img/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../img/moon.svg);
  font-size: 62.5%;
}

.light {
  --text-color: #000000;
  --bg-url: url(../img/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../img/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center; /* Top center para começar a contar a partir do topo, caso contrário começa a partir do centro */
  background-size: cover; /* Para que a imagem ocupe todo o espaço disponível */

  /* Shorthand:
  background: var(--bg-url) no-repeat top center/cover;
   */

  height: 100vh; /* Para que o body ocupe toda a tela */
  font-size: 1.6rem;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto;
  padding: 0 2.4rem;
}

#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
}

#profile p {
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 8px;
}

#switch {
  width: 6.4rem;
  position: relative;

  margin: 4px auto;
}

#switch button {
  width: 3.2rem;
  height: 3.2rem;
  background: #FFFFFF var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-back .2s;
  cursor: pointer;
}

.light #switch button {
  animation: slide-in .4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block; /* Para que o span aceite width */
  width: 6.4rem;
  height: 2.4rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 9999px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  padding: 1.6rem 2.4rem;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  /* border: 1.5px solid hsla(0, 0%, 100%, 1); */
  border: 1.2px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.4rem;

  font-size: 2.4rem;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
 background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 2.4rem 0;
  font-size: 1.4rem;
}


@media (min-width: 768px) {
  :root {
    --bg-url: url(../img/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(../img/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}