* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --blue-900: #16151E;
  --blue-800: #282843;
  --blue-500: #24243D;
  --blue-200: #0088B3;

  --green: #07847E;

  --purple-500: #633BBC;
  --purple-100: #8C8CBA;
  --purple-50: #9A00B3;

  --white: #E1E1E6;

  --yellow: #B38C00;
}

body {
  font-size: 1.6rem;

}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  max-width: 43rem;

  margin: 0 auto;
  }

.contacts-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-900);  

  width: 100%;

  padding: 4rem;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    h2 {
      color: var(--white);
    }

    button {
      background-color: var(--blue-900);
      border: none;
      cursor: pointer;
    }
  }
}