#form {
    margin-top: 64px;
    display: flex;
    gap: 12px;
}

#form > input {
    height: 48px;
    width: 450px; 
    padding: 0 12px;

    font-size: 16px;
    color: #FFFFFF;

    background-color: #202024;

    border: none;
    border-radius: 5px;
}

#form > input:focus {
    outline: 2px solid #8257E5;
}

#form > input:valid {
    background-color: #202024;
}

#form > button {
    height: 48px;
    width: 48px;

    border: none;
    border-radius: 5px;

    background-color: #8257E5;  

    cursor: pointer;
    
    transition: background-color 0.2s;
}

#form > button:hover {
    background-color: #633BBc;
}

#form > button i {
    font-size: 24px;
    color: #FFFFFF;
}