* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --primary-color: #A54328;
    --white: #FFFFFF;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.6rem;
    color: var(--primary-color);

    background-image: url('../img/old-paper-texture.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    max-width: 32rem;
    margin-inline: auto;
    padding: 5.6rem 4rem;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

img {
    width: 100%;
    margin-block: 3.2rem;
}

button {
    font-family: 'Source Serif 4', serif;
    background-color: var(--primary-color);

    color: var(--white);

    border: 0;

    margin-top: 3.2rem;

    padding: .8rem 1.2rem;

    border-radius: .6rem;
    
    cursor: pointer;
}

h1, h2 {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

h2 {
    margin-bottom: 3.2rem;
}

p, li, strong { 
    font-size: 1.4rem;
    line-height: 1.8rem;
}

ul, ol {
    padding-left: 2.4rem;
}

ul {
    margin-bottom: 2.4rem;
}