* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);

  display: grid;
  place-items: center;
}

#calculator {
  
}