section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 8px;

    span {
      background-image: url(../icons/ArrowRight.svg);
      height: 16px;
      width: 16px;
    }

    &:hover span {
      background-image: url(../icons/ArrowRight-hover.svg)
    }
  }
}

#featured {
  grid-area: featured;

  img {
    height: 100%;
    object-fit: cover; /* Para a imagem cobrir todo o espaço sem ficar esticada */
  }
  
  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%; /* Ter distância de 50% do top para ficar apenas 50% da área */
      /* A cor vai até 100% para ir de baixo até 100% dos 50% que sobrou de espaço */
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
    }

    figcaption {
      position: absolute;
      bottom: 0;

      padding: 24px;

      /* Aplicar em todos que tem a classe text-lg, no caso apenas os cards pequenos */
      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}

#weekly {
  grid-area: weekly;

  /* Primeiro nível de div dentro do weekly */
  &>div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;

  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 8px 4px;
  }
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  h3 {
    margin-top: 8px;
  }

  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}