* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  min-height: 53.2rem;
  background-color: #F8F8FF;
  text-align: center;

  &:before {
    content: '';
    background-image: url(../img/bg-header-top.svg);
    background-repeat: no-repeat;
    width: 40.7rem;
    height: 34.5rem;

    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    background-image: url(../img/bg-header-bottom.svg);
  }
}