* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  min-height: 53.2rem;
  background-color: #F8F8FF;
  text-align: center;
  position: relative;
  display: grid;
  place-content: center;

  &:before {
    content: '';
    background-image: url(../img/bg-header-top.svg);
    background-repeat: no-repeat;
    width: 40.7rem;
    height: 34.5rem;

    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    background-image: url(../img/bg-header-bottom.svg);
    background-repeat: no-repeat;
    width: 41.4rem;
    height: 33rem;

    position: absolute;
    right: 0;
    bottom: -1.2rem;
    overflow: hidden;
  }

  .content {
    width: fit-content;
    margin: auto;
  }
}