/*-- Language Selector Component --*/
.site-header {
position: relative;
}

.lang-selector {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background: var(--gray-300);
    cursor: pointer;

    white-space: nowrap;

    transition:
    background 0.2s ease,
    transform 0.15s ease;
}

.lang-btn:hover {
    background: var(--gray-200);
}

.lang-btn[aria-expanded="true"] .lang-chevron {
    transform: rotate(180deg);
}

.lang-text {
    font-family: var(--font-maven);
    font-size: 16px;
    line-height: 140%;
    color: var(--gray-500);
}

.lang-chevron {
    color: var(--gray-500);
    transition: transform 180ms ease;
}

/* Opened Menu */
.lang-menu {
    position: absolute;
    right: 0;
    margin-top: 4px;

    padding: 8px;
    border-radius: 12px;
    background: var(--gray-300);

    width: max-content;
    display: none;
}

.lang-menu.open {
    display: block;
}

.lang-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--gray-500);
}

.lang-option:hover {
    background: var(--gray-200);
}

/*-- Profile Photo Component --*/
.profile-photo {
    position: relative;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 4px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 120px;
    margin-bottom: 56px;
}

.profile-photo-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-photo-badge {
    position: absolute;
    right: -4px;
    bottom: -2px;
    width: 32px;
    height: 32px;
    color: var(--green);
}

/*-- Tech Stack Component --*/
.tech-stack {
    display: flex;
    gap: 16px;
}

.tech-pill {
    display: flex;
    align-items: center;

    gap: 8px;
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.45);
    }
}

.tech-label {
    font-family: var(--font-maven);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: var(--gray-500);
}

.tech-icon {
    width: 24px;
    height: 24px;
    /* Colocado fill="currentColor" em todos os paths dos SVGs */
}

.icon {
    width: 32px;
    height: 32px;
    color: var(--gray-600);
}

.arrowdown {
    margin-top: 94px;
    margin-bottom: 57px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.45);
    }
}
  
/*-- My Work Component --*/
.my-work {
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 144px;
}

.my-work-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 56px;
    gap: 8px;
}

.my-work-section-label {
    font-family: var(--font-inconsolata);
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.my-work-title {
    font-family: var(--font-asap);
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray-600);
}

/* Projects */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.project-card {
    background-color: var(--gray-300);
    border-radius: 8px;
    padding: 12px 12px 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.45);
    }
}

.project-thumb {
    border-radius: 8px;
}

.project-thumb img {
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
}

.project-title {
    font-family: var(--font-asap);
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray-600);
    padding-bottom: 8px;
}

.project-description {
    font-family: var(--font-maven);
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: var(--gray-500);
}

/*-- Services Component --*/
.services {
    margin: 0 auto;
    background-color: var(--gray-100);
    padding-bottom: 120px;
}

.services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding-top: 88px;
    padding-bottom: 57px;
}

.services-section-label {
    font-family: var(--font-inconsolata);
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.services-title {
    font-family: var(--font-asap);
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray-600);
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.service-card {
    flex: 1;
    max-width: 320px;

    border: 2px solid var(--gray-200);
    border-radius: 12px;
    padding: 24px 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service-icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon svg {
    width: 48px;
    height: 48px;
}

.service-title {
    font-family: var(--font-asap);
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray-600);
}

.service-description {
    font-family: var(--font-maven);
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: var(--gray-500);
}

/*-- Footer Component --*/

.footer {
    background-image: url("../img/Background_Contacts.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 128px;
    padding-bottom: 200px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    margin-bottom: 48px;
}

.footer-header span {
    font-family: var(--font-inconsolata);
    color: var(--purple);
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.footer-header h2 {
    font-family: var(--font-asap);
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color: var(--gray-600);
}

.footer-header p {
    font-family: var(--font-maven);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: var(--gray-500);
}

.footer-links {
    max-width: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 20px;
    border-radius: 8px;
    background-color: var(--gray-300);

    text-decoration: none;
}

.footer-card-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-icon {
    width: 28px;
    height: 28px;
    color: var(--gray-400);
}

.footer-label {
    font-family: var(--font-maven);
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: var(--gray-500);
}

.footer-arrow {
    width: 20px;
    height: 20px;
    color: var(--blue);
}