/* Tech Stack Component */
.tech-stack {
    display: flex;
    gap: 16px;
}

.tech-pill {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
}

.tech-label {
    font-family: var(--font-maven);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400; /* Regular */
    color: var(--gray-500);
}

.tech-icon {
    width: 24px;
    height: 24px;
    /* Colocado fill="currentColor" em todos os paths dos SVGs */
}

.icon {
    width: 32px;
    height: 32px;
    color: var(--gray-600);
    margin-top: 94px;
}

/* Profile Photo Component */
.profile-photo {
    position: relative;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 4px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);

    margin-top: 120px;
    margin-bottom: 56px;
  }
  
  .profile-photo-img {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-photo-badge {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
  }
  