* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --grey-01: #F8FAFC;
  --grey-02: #E2E8F0;
  --grey-03: #94A3B8;
  --grey-04: #334155;
  --grey-05: #1E293B;
  --grey-06: #0F172A;
  --grey-07: #020617;
}

body {
  font-size: 1.6rem;

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  width: 121.6rem;

  padding: 6rem;

  border-radius: 3.2rem;
  border: 1px solid var(--grey-04);
  background: rgba(2, 6, 23, 0.80);
}

.icon {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 12px;
  justify-content: center;
  align-items: center;

  border-radius: 1.6rem;
  border: 1px solid var(--grey-05);
  background: var(--grey-06);
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--grey-04);
}