* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: #372D3B;

  display: grid;
  place-content: center;
  height: 100vh;

  background-color: grey;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 5.6rem;

  width: 80rem;
  height: 68rem;

  background-color: #FFFFFF;

  border-radius: 4rem;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.9rem;

  .divider {
    width: 168px;
    height: 17px;

    background: #E5D8EA;
    border-radius: 999px;
  }

  .driver-info {
    .name {
      span {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
      }

      .name {
        color: #864293;
      }
    }

    .arrival-time {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }
  }

  .ride-info {
    display: flex;
    gap: 55px;

    .wrapper {
      display: flex;
      align-items: center;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        span {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .driver-car-photo {
        transform: translateX(-40px);
      }
    }

    .car-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .plate {
        span {
          font-weight: 700;
          font-size: 4rem;
          line-height: 50px;
        }
      }

      .car-model {
        span {
          font-weight: 500;
          font-size: 24.6573px;
          line-height: 30px;
        }
      }
    }
  }
}