* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --grey-900: #0F172A;
  --grey-800: #1E293B;
  --grey-700: #334155;
  --grey-600: #475569;
  --grey-500: #64748B;
  --grey-400: #94A3B8;
  --grey-300: #CBD5E1;
  --grey-200: #E2E8F0;
  --grey-100: #F1F5F9;
  --grey-50: #F8FAFC;

  --green-100: #04D361;
  --green-200: #1B873F;

  --purple-200: #7C3AED;
  --purple-100: #996DFF;

  --white: #FFFFFF;

  --orange: #FBA94C;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #29292E;

  padding-right: 2rem;
  padding-left: 2rem;
}

.essencials, .enterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2.4rem;

  background-color: var(--white);

  border: 1px solid #E2E8F0;
  border-radius: 1rem;

  .header {
    color: var(--purple-200);
    text-transform: uppercase;
  }

  .plan-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.7rem;
      color: var(--grey-800);
    }

    .amount {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: var(--grey-800);
    }
  }

  button {
    font-weight: 700;
    line-height: 2.4rem;

    padding: 1.6rem 2.4rem;

    background-color: var(--white);
    border: 1px solid #1E293B;
    border-radius: 4px;

    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}

.enterprise {
  margin-top: 2.4rem;
}