* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --grey-900: #0F172A;
  --grey-800: #1E293B;
  --grey-700: #334155;
  --grey-600: #475569;
  --grey-500: #64748B;
  --grey-400: #94A3B8;
  --grey-300: #CBD5E1;
  --grey-200: #E2E8F0;
  --grey-100: #F1F5F9;
  --grey-50: #F8FAFC;

  --green-100: #04D361;
  --green-200: #1B873F;

  --purple-200: #7C3AED;
  --purple-100: #996DFF;

  --white: #FFFFFF;

  --orange: #FBA94C;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: var(--grey-100);

  padding-right: 2rem;
  padding-left: 2rem;
}

.essencials, .enterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2.4rem;

  background-color: var(--white);

  border: 1px solid #E2E8F0;
  border-radius: 1rem;

  &:hover {
    border: 1px solid var(--purple-100);
  }

  .header {
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: var(--purple-200);
    text-transform: uppercase;

    margin-bottom: 8px;
  }

  .plan-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.7rem;
      color: var(--grey-800);
    }

    .price {
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 1.8rem;

      .amount {
        font-weight: 700;
        line-height: 2.7rem;
        color: var(--grey-800);
      }
    }
  }

  button {
    font-family: 'Titillium Web';
    font-weight: 700;
    line-height: 2.4rem;

    padding: 1.6rem 2.4rem;

    font-size: 1.7rem;

    background-color: var(--white);
    border: 1px solid #1E293B;
    border-radius: 4px;

    margin-top: 1.6rem;

    &:hover {
      background-color: var(--grey-800);
      color: var(--white);
    }
  }

  .plan-features {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .divider { 
      width: 100%;
      height: 1px;
      background-color: #E2E8F0;
      margin-top: 1.6rem;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      line-height: 2.4rem;
      letter-spacing: 0.06em;

      .feature {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
}

.enterprise {
  margin-top: 2.4rem;
}