* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Font Family */
  --font-family: "Asap", sans-serif;

  /* Main */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  /* Gray Scale Colors */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
}  

body {
  min-height: 100vh;
}