* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;

  margin-top: 14rem;
  margin-right: 13.4rem;

  background-color: #121214;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}

.gallery {
  grid-area: gallery;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.2rem;

  
  overflow-y: auto;

  .landscape {
    width: 800px;
    height: 400px;
    object-fit: cover;
  }

  .portrait {
    width: 384px;
    height: 600px;
    object-fit: cover;
  }

  .wrapper {
    display: flex;
    gap: 3.2rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      img {
        width: 384px;
        height: 284px;
        object-fit: cover;
      }
    }
  }
}