* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;  

  height: 100vh;

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;

  background-color: grey;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 440px;
  height: 160px;

  border: 1px dashed #C1B2FA;
  border-radius: 8px;

  background-color: #F3F0FF;

  span:nth-child(even) {
    font-weight: 700;
    color: #7A5FEC;
  }

  span:nth-child(odd) {
    font-weight: 400;
    font-size: 1.4rem;
    color: #746E82;
  }
}

.uploading-area {

}