* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font Family */
    --font-family: 'Archivo', sans-serif;
  
    /* Font Styles */
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);
  
    /* Product Colors */
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
  
    /* Base Colors */
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
  
    /* Text Colors */
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
  }  

body {
    font: var(--text);
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit
}

img {
    max-width: 100%; /* Respeite a parent box que está no momento para não ficar muito grande */
}

.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

main {
    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;

    grid-template-columns: 2fr 1.4fr;
    
    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.content-tag {
    display: inline-block; /* inline-block para usar o block mas não pegar todo o espaçamento por ser block */
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em; /* em por estar se referindo ao tamanho da fonte pai para ajustar esse */
    color: var(--text-color-primary);
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}