#featured {
  img {
    height: 100%;
    object-fit: cover; /* Para a imagem cobrir todo o espaço sem ficar esticada */
  }
  
  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%; /* Ter distância de 50% do top para ficar apenas 50% da área */
      /* A cor vai até 100% para ir de baixo até 100% dos 50% que sobrou de espaço */
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
    }
  }
}