* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 1.5rem;

    background: var(--black);

  
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

img {
    margin-top: 6rem;
    margin-bottom: 3.2rem;
}

h2 {
    margin-bottom: 1.6rem;

    color: #3F3D56;
    text-align: center;
    font-family: Dosis;
    font-size: 3.2rem;
    font-weight: 500;

    span {
        color: #EE24FF;
        font-family: Dosis;
        font-size: 3.2rem;
    }
}

p {
    color: #828282;
    line-height: 22px; /* 146.667% */
    text-align: center;

    margin-bottom: 3.2rem;

    width: 54rem;
    height: 10.7rem;
    flex-shrink: 0;

    span {
        color: #828282;
        font-weight: 700;
        line-height: 2.2rem;
            
        &:first-child, &:last-child {
            color: #3F3D56;
        }
    }
}

span {
    color: #828282;
}

.divider {
    margin-top: 6.4rem;
    margin-bottom: 1.6rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.2rem;
    
    margin-bottom: 4.1rem;

   span {
        color: #3F3D56;
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        line-height: 147.682%; /* 22.152px */

        cursor: pointer;
   }

}

#footer {
    display: flex;
    width: 100%;
}