* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --dark-brown: #58190A;
  --medium-brown: #9B6647;
  --light-brown: #FEECE0;
  --white: #FFFFFF;
}

body {
  font-size: 1.6rem;

}

body * {
  font-family: 'Source Serif 4', serif;
}

#app {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.dish {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;

  padding-top: 11.2rem;
  padding-bottom: 5.6rem;

  background: var(--light-brown);

  .info {
    h1 {
      font-size: 7.2rem;
      font-weight: 700;
      color: var(--dark-brown);
    }

    span {
      font-size: 3.8rem;
      color: var(--dark-brown);
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      font-size: 3.5rem;

      span {
        color: var(--medium-brown);
      }

      .manage {
        display: flex;
        align-items: center;
        gap: 2rem;

        .remove, .add {
          cursor: pointer;
          background: transparent;
          border: none;
        }
  
        .amount {
          font-size: 4rem;
        }
      }
    }
  }
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;

  padding: 7.4rem 5rem;

  background: var(--medium-brown);

  ul, ol {
    list-style: none;
  }

  .ingredients, .preparation-method {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    
    div {
      display: flex;
      align-items: center;
      gap: 1.1rem;
  
      h3 {
        font-size: 3.8rem;
        font-weight: 700;
        color: var(--light-brown);
      }
    }

    ul, ol {
      font-size: 2.8rem;
      color: var(--white);
    }
  }
}