* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --fc-primary: #B52184;
  --fc-secondary: #312D64;
  --fc-white: #FFFFFF;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 364px;
    height: 370px;
    margin-bottom: 1.7rem;
  }

  h1 {
    color: var(--fc-primary);
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 5px;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  svg {
    margin-top: 3.5rem;
    margin-bottom: 9.3rem;
  }
}


main {
  .contact {
    img {
      display: none;
    }
  }
}
