* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --fc-primary: #B52184;
  --fc-secondary: #312D64;
  --white: #FFFFFF;
  --bg-main: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header img {
  width: 364px;
  height: 370px;
  margin-bottom: 1.7rem;
}
header h1 {
  color: var(--fc-primary);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 5px;
}
header span {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}
header svg {
  margin-top: 3.5rem;
  margin-bottom: 9.3rem;
}

main .cards {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: var(--bg-main);
  padding: 5.3rem 3.9rem;
}
main .cards .card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: 2.6rem;
  border-radius: 2rem;
}
main .cards .card img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 3.3rem;
}
main .cards .card h2 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;
  color: var(--fc-primary);
  margin-bottom: 1rem;
}
main .cards .card p {
  font-weight: 600;
  line-height: 2rem;
  color: var(--fc-secondary);
}
main .contact .get-in-touch {
  padding: 7.8rem 4rem 6.5rem;
}
main .contact .get-in-touch h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--fc-primary);
  margin-bottom: 4.3rem;
}
main .contact .get-in-touch form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
main .contact .get-in-touch form input, main .contact .get-in-touch form textarea {
  color: var(--fc-secondary);
  border: 1.5px solid var(--fc-secondary);
  border-radius: 1.6rem;
}
main .contact .get-in-touch form input::-moz-placeholder, main .contact .get-in-touch form textarea::-moz-placeholder {
  color: var(--fc-secondary);
}
main .contact .get-in-touch form input::placeholder, main .contact .get-in-touch form textarea::placeholder {
  color: var(--fc-secondary);
}
main .contact .get-in-touch form input {
  padding: 1.2rem 1.6rem;
}
main .contact .get-in-touch form textarea {
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  resize: none;
}
main .contact .get-in-touch form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 4.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--white);
  border: none;
  border-radius: 16px;
  padding: 1.6rem;
  background: var(--bg-main);
  cursor: pointer;
}
main .contact img {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 1.6rem;
  background: var(--bg-main);
}
footer span {
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: var(--white);
}

@media (min-width: 1100px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2.8rem;
    position: relative;
  }
  header div {
    display: flex;
    align-items: flex-start;
  }
  header img {
    width: 72rem;
    height: 73rem;
    margin-bottom: 10rem;
  }
  header h1 {
    font-size: 5.8rem;
    line-height: 7.3rem;
    margin-bottom: 8px;
  }
  header span {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  header svg {
    position: absolute;
    bottom: 0px;
  }
  main .cards {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    background: var(--bg-main);
    padding: 6.4rem 11rem;
  }
  main .cards .card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 3.2rem;
    border-radius: 2.4rem;
  }
  main .cards .card img {
    width: 9.7rem;
    height: 9.7rem;
    margin-bottom: 4rem;
  }
  main .cards .card h2 {
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 4.4rem;
    margin-bottom: 1.3rem;
  }
  main .cards .card p {
    min-width: 32rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  main .contact {
    display: flex;
    flex-direction: row;
  }
  main .contact .get-in-touch {
    padding: 9.5rem 9.2rem 9.5rem 11rem;
    width: 50%;
  }
  main .contact .get-in-touch h2 {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--fc-primary);
    margin-bottom: 4.3rem;
  }
  main .contact img {
    width: 50%;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */