* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --fc-primary: #B52184;
  --fc-secondary: #312D64;
  
  --white: #FFFFFF;

  --bg-main: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 364px;
    height: 370px;
    margin-bottom: 1.7rem;
  }

  h1 {
    color: var(--fc-primary);
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 5px;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  svg {
    margin-top: 3.5rem;
    margin-bottom: 9.3rem;
  }
}

main {

  .cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    background: var(--bg-main);
    
    padding: 5.3rem 3.9rem;
    
    .card {
      display: flex;
      flex-direction: column;

      background: var(--white);

      padding: 2.6rem;

      border-radius: 2rem;

      img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 3.3rem;
      }

      h2 {
        font-weight: 900;
        font-size: 2.9rem;
        line-height: 3.7rem;
        color: var(--fc-primary);
        margin-bottom: 1rem;
      }

      p {
        font-weight: 600;
        line-height: 2rem;
        color: var(--fc-secondary);
      }
    }
  }

  .contact {
    margin: 7.8rem 4rem 6.5rem;

    .get-in-touch {
      h2 {
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 4rem;
        color: var(--fc-primary);
        margin-bottom: 4.3rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        input, textarea {
          color: var(--fc-secondary);
          border: 1.5px solid var(--fc-secondary);
          border-radius: 1.6rem;

          &::placeholder {
            color: var(--fc-secondary);
          }
        }

        input {
          padding: 1.2rem 1.6rem;
        }

        textarea {
          padding: 1.2rem 1.6rem 1.6rem 1.6rem;
          resize: none;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 16rem;
          height: 4.5rem;

          font-weight: 700;
          font-size: 1.4rem;
          line-height: 2.4rem;
          color: var(--white);

          border: none;
          border-radius: 16px;

          padding: 1.6rem;

          background: var(--bg-main);

          cursor: pointer;
        }
      }
    }
    img {
      display: none;
    }
  }
}
