* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --grey-02: #E2E2F5;
  --grey-01: #D6D6F2;

  --purple: #BF7BFB;

  --blue-dark: #000013;
  --blue: #151557;
  --blue-light: #212187;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  color: var(--grey-01);
  
  background-image: url(../img/bg.png);
  background-size: 100% 100%;

  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;
}

#app {
  display: flex;
  align-items: center;
  gap: 24.2rem;
  padding-left: 16rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;

  .message {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  
    max-width: 38rem;

    h1 {
      font-size: 4rem;
      line-height: 120%;
    }

    p {
      font-size: 2rem;
      line-height: 140%;
      font-weight: 300;
    }
  }

  .navigation {
    display: flex;
    gap: 1.6rem;

    button {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--grey-02);
      text-transform: uppercase;
    
      background: var(--blue);
      padding: 1.2rem 2.4rem;
    
      border-radius: 999px;
      border: none;
    
      cursor: pointer;
    
      &:hover {
        background: var(--blue-light);
      }
    }
  }
}

.error-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    width: 8rem;
    height: 10.5rem;
  }
}