* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  /* Colors */

  --purple-mid: #633BBC;
  --purple-light: #8257E5;

  --white: #FFFFFF;
  
  --grey-400: #323238;
  --grey-300: #7C7C8A;
  --grey-200: #8D8D99;
  --grey-100: #E1E1E6;

  --sucess-color: #1D8841;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(90deg, #09090A 0%, #181719 47.57%, #36343B 126.85%, #39363D 126.85%);

  display: grid;
  place-content: center;
  height: 100vh;
}

body * {
  font-family: 'IBM Plex Sans', sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3.2rem;

  background: var(--white);

  border-radius: 6px;
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    
    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      padding: 8px;

      cursor: pointer;

      color: var(--grey-200);

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
  
        width: 2.8rem;
        height: 2.8rem;
  
        font-family: 'Titillium Web', sans-serif;

        background: var(--grey-100);
        border-radius: 50%;
      }
    }

    .selected {
      span {
        color: var(--grey-400);
      }

      .number {
        color: var(--white);
        background: var(--purple-mid);
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;

    background: var(--grey-100);

    margin: 3.2rem 0px;
  }
}

main {

  form {
    margin-bottom: 3.2rem;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      border: none;

      label {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: var(--grey-400);

        margin-bottom: 4px;
      }

      input {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--grey-200);

        width: 100%;

        padding: 1.6rem;

        border: 1px solid var(--grey-100);
        border-radius: 2px;
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    width: 15.8rem;
    height: 5.6rem;

    color: var(--white); 
    font-weight: 700;
    line-height: 150%;   
    text-transform: uppercase;

    background: var(--purple-mid);

    padding: 1.6rem 3.2rem;

    border: none;
    border-radius: 6px;

    cursor: pointer;
  }
}