* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* Colors */
  --purple-mid: #633BBC;
  --purple-light: #8257E5;
  --white: #FFFFFF;
  --grey-400: #323238;
  --grey-300: #7C7C8A;
  --grey-200: #8D8D99;
  --grey-100: #E1E1E6;
  --sucess-color: #1D8841;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #09090A 0%, #181719 47.57%, #36343B 126.85%, #39363D 126.85%);
}

body * {
  font-size: 1.6rem;
  line-height: 150%;
  font-family: "IBM Plex Sans", sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  background: var(--white);
  border-radius: 6px;
}

.hide {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-weight: 700;
}
header nav .step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  color: var(--grey-200);
}
header nav .step .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  font-family: "Titillium Web", sans-serif;
  background: var(--grey-100);
  border-radius: 50%;
}
header nav .selected span {
  color: var(--grey-400);
}
header nav .selected .number {
  color: var(--white);
  background: var(--purple-mid);
}
header nav .checked span {
  color: var(--grey-400);
}
header nav .checked .number {
  color: var(--white);
  background: var(--sucess-color);
}
header .divider {
  width: 100%;
  height: 1px;
  background: var(--grey-100);
  margin: 3.2rem 0px;
}

main form {
  margin-bottom: 3.2rem;
}
main form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}
main form fieldset label {
  font-weight: 700;
  color: var(--grey-400);
  margin-bottom: 4px;
}
main form fieldset input, main form fieldset textarea {
  font-weight: 400;
  color: var(--grey-400);
  width: 100%;
  padding: 1.6rem;
  border: 1px solid var(--grey-100);
  border-radius: 2px;
  resize: none;
}
main form fieldset input::-moz-placeholder, main form fieldset textarea::-moz-placeholder {
  color: var(--grey-200);
}
main form fieldset input::placeholder, main form fieldset textarea::placeholder {
  color: var(--grey-200);
}
main form fieldset input:focus, main form fieldset textarea:focus {
  border-color: var(--purple-mid);
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer button {
  width: 15.8rem;
  height: 5.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
footer #btn-back {
  border: 1px solid var(--purple-mid);
  color: var(--purple-mid);
  background: var(--white);
}
footer #btn-next {
  color: var(--white);
  background: var(--purple-mid);
}
footer #btn-next:hover {
  transform: scale(1.035);
}
footer #btn-back {
  border: 1px solid var(--purple-mid);
  color: var(--purple-mid);
  background: var(--white);
}
footer #btn-back:hover {
  transform: scale(1.035);
}

#form-02 footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */