* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Typography */
  --font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 .875rem/1.4 var(--font-family);

  /* Colors */
  /* Brand */
  --brand-light: #F67841;
  --brand-mid: #F3541C;
  --brand-dark: #E43A12;

  /* Text */
  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  /* Surface */
  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-tertiary: #FDD3B8;
  --surface-quartiary: #f1cab1;
  --surface-disabled: #E7E5E4;

  /* Stroke */
  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  /* Semantic */
  --semantic-error: #DC2626;

  /* Supporting Colors */
  --support-orange: #F9A474;
  --support-yellow: #FEDF6F;
  --support-green: #C7D78D;
  --support-blue: #B8CEDC;
  --support-violet: #C3B2E7;
  --support-pink: #F682A5;
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);
}

h1, h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}