/* Main Colors */
.red {
    color: var(--red);
  }
  
.purple {
color: var(--purple);
}

.blue {
color: var(--blue);
}

.green {
color: var(--green);
}

.yellow {
color: var(--yellow);
}

/* Gray Scale Colors */
.gray-100 {
color: var(--gray-100);
}

.gray-200 {
color: var(--gray-200);
}

.gray-300 {
color: var(--gray-300);
}

.gray-400 {
color: var(--gray-400);
}

.gray-500 {
color: var(--gray-500);
}

.gray-600 {
color: var(--gray-600);
}