* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --purple: #7C3AED;
  --gray-800: #1E293B;
  --gray-600: #475569;
  --gray-400: #94A3B8
}

body {
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
}

button {
  all: unset; /* Tira todas as propriedades dos botões, até as aplicadas por CSS antes daqui (menos duas que se passar o mouse nessa propriedade mostra o que fica) */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  height: 100vh;

  & > * {
    width: 50%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  aside {
    padding: 4rem 11.2rem;

    header {
      img { 
        width: 16rem;
        height: 5.4rem;
      }
    }

    main {
      margin-top: 11.4rem;

      .headline {
        max-width: 35rem;

        h1 {
          color: var(--gray-800);
        }

        p {
          color: var(--gray-600);
        }
      }

      form {
        margin-top: 4rem;

        .input-wrapper {
          position: relative;

          label {
            font-size: 1.4rem;
            color: var(--gray-800);
            font-weight: 600;
          }

          .label-wrapper {
            display: flex;
            justify-content: space-between;

            a {
              color: var(--purple);
              font-size: 1.4rem;
              font-weight: 600;
            }
          }

          ::ms-reveal { /* Microsoft Edge adiciona o eye no password, isso tira para ter o nosso. */ 
            display: none;
          }

          .eye {
            width: 2rem;
            height: 2rem;

            position: absolute;
            top: 20%;
            right: 5%;
          }

          .hide {
            display: none;
          }
        }

        input {
          width: 100%;

          background: #FFFFFF;
          border: 0.1rem solid #E2E8F0;
          border-radius: 0.4rem;

          padding: 1.6rem 1.2rem;

          margin-top: 0.8rem;

          &::placeholder {
            color: var(--gray-400);
            font-size: 1.4rem;
          }
        }

        .input-wrapper + .input-wrapper { /* Pega o .input-wrapper que tem um .input-wrapper anterior a ele */
          margin-top: 1.6rem;
        }

        button {        
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 1.6rem 2.4rem;

          width: 100%;

          border-radius: 4px;
          background: var(--purple);
        
          font-weight: bold;
          color: #FFFFFF;

          margin-block: 3.2rem;

          &:focus { /* Quando o botão é selecionado pelo tab */
            outline: 2px solid black;
            border-radius: 0.2rem; 
  
            border-radius: 4px;
          }

          &:hover {
            background: #9F67FF;
          }
        }

        .create-account {
          a {
            color: var(--purple);
            font-weight: 700;
          }
        }
      }
    }
  }
}





