* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 7.8rem;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;

  color: #FFFFFF;

  margin-bottom: 2rem;
}

.card-2 {
  background: #FFFFFF;
  border-radius: 24px;
}

.card-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  
  background: #FFFFFF;

  padding: 2.4rem 3.2rem;

  border-radius: 24px;
  border-top: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.32);

  .passenger, .seat-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.64);
  }

  .passenger-name, .seat-number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.88);
  }

}

.card-4 {
  background: #FFFFFF;
  border-radius: 24px;  
  
  &--1 {

  }

  &--2 {
  }

}