* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --purple-linear: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);

    --black: #09090A;
    --white: #FFFFFF;
    --grey: #C4C4CC;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
}