* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --purple-linear: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
  --black: #09090A;
  --white: #FFFFFF;
  --grey-200: #C4C4CC;
  --grey-800: #202024;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.half-background {
  /* AI Code */
  /* Apply a background color to the entire background */
  background: var(--black);
  height: 100vh;
  position: relative;
  /* Apply a white background to the left 50% */
  /* Apply the background image to the right 50% */
}
.half-background::before {
  content: "";
  background: transparent; /* You can change this to any color you prefer */
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.half-background::after {
  content: "";
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 0; /* Change this to 1 if the image needs to be above content */
}

#app {
  padding-top: 16rem;
  padding-left: 11.2rem;
}

.container:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 48.2rem;
  margin-bottom: 16rem;
}
.container:nth-child(1) .header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.container:nth-child(1) .header h2 {
  color: var(--white);
  font-size: 4.8rem;
  line-height: 48px; /* 100% */
}
.container:nth-child(1) p {
  color: var(--colors-gray-gray-200, #C4C4CC);
  font-size: 2rem;
  line-height: 28px; /* 140% */
}
.container:nth-child(1) .wrapper {
  display: flex;
  gap: 8px;
}
.container:nth-child(1) .wrapper input {
  display: flex;
  width: 291px;
  padding: 16px 12px;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 5px;
  background: var(--grey-800);
  color: var(--grey-200);
}
.container:nth-child(1) .wrapper input::-moz-placeholder {
  color: var(--grey-200);
}
.container:nth-child(1) .wrapper input::placeholder {
  color: var(--grey-200);
}
.container:nth-child(1) .wrapper button {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 4px;
  background: var(--Linear-purple, linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%));
  color: var(--colors-neutral-black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
}
.container:nth-child(1) .wrapper button:hover {
  background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 85%);
}

.container:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.container:nth-child(2) .card {
  max-width: 27.4rem;
}
.container:nth-child(2) .card img {
  margin-bottom: 1rem;
}
.container:nth-child(2) .card .title {
  color: var(--white);
  margin-bottom: 0.8rem;
}
.container:nth-child(2) .card .content {
  color: var(--grey-200);
}/*# sourceMappingURL=styles.css.map */