* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --fc-white: #FFFFFF;
  --fc-light: #E7E6FB;
  --fc-light-2: #DAD8F7;
  --fc-dark: #C2BFF4;
  --fc-air-quality: #87EBCD;
}

body {
  display: grid;
  place-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-now {
  background-image: url("../img/temperature-now-bg.svg");
  width: 480px;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.temperature-now #clouds {
  position: absolute;
  left: -56px;
  top: -56px;
}
.temperature-now .location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3.3rem;
  padding-right: 3.2rem;
}
.temperature-now .location span {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--fc-dark);
}
.temperature-now .temperature {
  display: flex;
  flex-direction: column;
}
.temperature-now .temperature .number {
  padding-top: 5.9rem;
  margin: 0 auto;
}
.temperature-now .temperature .number span:nth-child(1) {
  font-weight: 700;
  font-size: 88px;
  line-height: 106px;
  color: var(--fc-white);
  position: relative;
}
.temperature-now .temperature .number span:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--fc-light-2);
  position: absolute;
  transform: translateY(1.7rem);
}
.temperature-now .temperature .temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.temperature-now .temperature .temperature span:nth-child(1) {
  color: var(--fc-white);
}
.temperature-now .temperature .temperature span:nth-child(2) {
  color: var(--fc-dark);
}
.temperature-now .statistics {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
}
.temperature-now .statistics .wind {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  width: 14.7rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 6px;
}
.temperature-now .statistics .wind .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.temperature-now .statistics .wind .info span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--fc-light);
}
.temperature-now .statistics .wind .info .sub-info span:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--fc-light);
}
.temperature-now .statistics .wind .info .sub-info span:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--fc-light-2);
}
.temperature-now .statistics .rain {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  width: 14.7rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 6px;
}
.temperature-now .statistics .rain .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.temperature-now .statistics .rain .info span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--fc-light);
}
.temperature-now .statistics .rain .info .sub-info span:nth-child(1) {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--fc-light);
}
.temperature-now .statistics .rain .info .sub-info span:nth-child(2) {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--fc-light-2);
}
.temperature-now .statistics .humidity {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  width: 14.7rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 6px;
}
.temperature-now .statistics .humidity .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.temperature-now .statistics .humidity .info span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--fc-light);
}
.temperature-now .statistics .humidity .info .sub-info span:nth-child(1) {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--fc-light);
}
.temperature-now .statistics .humidity .info .sub-info span:nth-child(2) {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--fc-light-2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .container {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */