* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --fc-light: #E7E6FB;
  --fc-light-2: #DAD8F7;
  --fc-dark: #C2BFF4;
  --fc-air-quality: #87EBCD;
}

body {
  display: grid;
  place-items: center;

  font-family: "Lato", sans-serif;
  font-size: 1.6rem;

  height: 100vh;

  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-now {
  background-image: url("../img/temperature-now-bg.svg");
  width: 480px;
  height: 480px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 10px;

  .location {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 3.3rem;
    padding-right: 3.2rem;

    span {
      color: var(--fc-dark);
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



