* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    /* Product */
    --primary: #3BAB1E;
    --secondary: #DE215A;

    /* Base */
    --background: #D8EED2;
    --surface: #FDFDFD;
    --surface-element: #B1DDA5;
    --text-primary: #242424;
    --text-cts: #FDFDFD;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;

    width: 100%;
    height: 100vh;

    background-color: var(--background);
}

#app {
    width: 36rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;


    .navigation {
        width: 100%;

        display: flex;
        justify-content: space-between;

        padding: 1.6rem 1.6rem 0 1.6rem;

        button {
            display: inline-flex;
            padding: 8px;
            align-items: flex-start;

            border: none;
            border-radius: 80px;
            background: var(--background, #D8EED2);
            box-shadow: 0px 8px 16px 0px rgba(59, 171, 30, 0.25);
            
            cursor: pointer;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.4rem;

        h1 {
            color: var(--text-primary);
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 3.2rem; /* 133.333% */
        }

        .energy-weight {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8.4rem;

            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }

            h3 {
                color: var(--text-primary, #242424);

                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px; /* 114.286% */
            }

            span {
                color: var(--text-primary, #242424);

                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                line-height: 2.4rem; /* 150% */
            }
        }
    }

    .bars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        
        .item {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    color: var(--text-primary);

                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.6rem; /* 114.286% */
                }

                span {
                    color: var(--text-primary);

                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 114.286% */
                }
            }

            .wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
    
                .bar-filled {
                    height: 8px;
                    width: 4.2rem;
                
                    border-radius: 8rem;
                    background: var(--primary);
                }
        
                .bar-empty {
                    height: 8px;
                    width: 4.2rem;
                
                    border-radius: 8rem;
                    background: var(--surface-element);
                }
            }
        }
    }
}

