* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    /* Product */
    --primary: #3BAB1E;
    --secondary: #DE215A;

    /* Base */
    --background: #D8EED2;
    --surface: #FDFDFD;
    --surface-element: #B1DDA5;
    --text-primary: #242424;
    --text-cts: #FDFDFD;
}

body {
    font-size: 1.6rem;
    background: var(--surface-element);
}