* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    /* Product */
    --primary: #633BBC;
    --secondary: #8257E5;

    /* Base */
    --background: #121214;
    --surface: #202024;
    --surface-element: #29292E;
    --text-primary: #323238;
    --text-cts: #505059;
}

body {
    font-size: 1.6rem;
}