button {
  all: unset; /* Retirar styles padrão */
  font-weight: 500;
  color: var(--text-highlight);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  cursor: pointer;

  &.btn-primary {
      color: white;
      background-color: var(--brand-dark);

      &:hover,
      &:focus {
          background-color: var(--brand-mid);
      }
  }

  &.btn-secondary {
      margin-left: auto;
      border: 1px solid var(--text-highlight);

      &:hover,
      &:focus {
          color: var(--brand-dark);
          outline: .25rem solid var(--surface-secondary);
      }
  }
}