input, textarea, select {
  appearance: none; /* Tirar os estilos padrão */
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);

  padding: .75rem 1rem;

  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block; /* Precisa ser block para aceitar margin */
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stoke-highlight);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0; /* Desaparecer com o ícone padrão do calendário */
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../../icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    /* Centralizar com position: absolute */
    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url(../../icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}