* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

#app, body {
  font-size: 1.6rem;
  height: 100vh;
}

body {
  background: url("../img/bg.png") no-repeat center center/cover;
}

main {
  max-width: 23.75rem;
}

h1 {
  color: #D6D6F2;
  font-size: 2.5rem;
  line-height: 120%;
}

p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 140%;
}

.button-wrapper {
  margin-top: 3.5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;

  background: var(--blue, #151557);
  border-radius: 62.4375rem;

  color: var(--grey-02, #E2E2F5);
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase; 

  &:hover {
    background: var(--blue-light, #212187);
  }
}