* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --primary-color: #7C3AED;
  --secondary-color: #E2D6FF;
  --fc-primary: #403937;
  --fc-secondary: #756966;
  --fc-tertiary: #CAB3FF;
  --fc-quaternary: #7C7C8A;
  --fc-quinary: #756966;
  --board-color: #FBFAFF;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #FFFFFF;
  height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3.5rem;
}
.menu .logo {
  padding-right: 9rem;
  padding-bottom: 6rem;
}
.menu .menu-items {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding-right: 2.7rem;
}
.menu .menu-items .active {
  color: #FFFFFF;
}
.menu .menu-items .active svg path {
  fill: #FFFFFF;
}
.menu .menu-items button {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--fc-tertiary);
  font-size: 2.4rem;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu .menu-items button svg path {
  fill: var(--fc-tertiary);
}

.board {
  background-color: var(--board-color);
  padding: 4.8rem 3.2rem 0;
  border-radius: 32px 0px 0px 0px;
  overflow: hidden;
}
.board .container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 2.4rem;
}
.board .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board .header .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
.board .header .wrapper .title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 130%;
  color: var(--fc-primary);
}
.board .header .wrapper button {
  border: none;
  background: transparent;
}
.board .header .user-photo img {
  height: 6.4rem;
  width: 6.4rem;
}
.board .filter {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.board .filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--primary-color);
  color: #FFFFFF;
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 5px;
}
.board .filter .filter-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  border: 0.7px solid #E3E3E3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 8px;
  padding: 1.6rem 2.4rem;
}
.board .filter .filter-wrapper label, .board .filter .filter-wrapper input {
  width: 100%;
  font-size: 16px;
  line-height: 100%;
  color: var(--fc-quaternary);
  border: none;
}
.board .kanban {
  display: flex;
  align-items: flex-start;
  gap: 4.8rem;
  color: black;
}
.board .kanban h2 {
  padding: 2.4rem;
}
.board .kanban #to-do, .board .kanban #in-progress, .board .kanban #done {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 2.4rem;
}
.board .kanban .kanban-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2.4rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px #EAE2FD;
  border-radius: 8px;
}
.board .kanban .kanban-card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}
.board .kanban .kanban-card span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--fc-quinary);
}
.board .kanban .kanban-card .tags {
  display: flex;
  align-items: center;
  gap: 8px;
}
.board .kanban .kanban-card .tags button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  padding: 4px 8px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */