* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --grey-1: #D9D9D9;
    --grey-2: #565E6D;
    --grey-3: #252C3A;
    --grey-4: #1D2330;
    --grey-5: #181D28;
    --grey-6: #161A24;

    --green-light: #ABF770;
    --green-dark: #5CAD1D;
    --red-light: #F77070;
    --red-dark: #AB3030;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;

    height: 100vh;
    width: 100%;

    background: linear-gradient(129deg, #996DFF 8.18%, #633BBC 95.51%);

    display: flex;
    align-items: center;
    justify-content: center;
}

#app { 
    display: flex;
    flex-direction: column;
    gap: 6.9rem;

    width: 100.6rem;
    height: 78.6rem;

    padding-top: 6.2rem;
    padding-inline: 11rem;

    border-radius: 8px;
    background: var(--colors-base-grey-6, #161A24);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#header {
    display: flex;
    justify-content: space-between;

    .logo {
        color: var(--grey-1, #D9D9D9);
        font-size: 2.4rem;
        line-height: 110%;

        span:first-child {
            font-weight: 800;
        }
    
        span:nth-child(2) {
            font-weight: 400;
        }
    }

    .score {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        padding: 1.2rem 2rem;

        border-radius: 8px;
        border: 1px solid var(--green-light);
        background: var(--grey-4);

        span {
            color: var(--green-light);
            font-size: 2rem;
            font-weight: 700;
            line-height: 110%; /* 22px */

            cursor: default;
        }
    }
}

h2 {
    color: var(--colors-base-grey-1, #D9D9D9);
    text-align: center;
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 4.6rem;

    .card {
        width: 25rem;
        height: 30rem;

        padding: 4.6rem 3.2rem;

        border-radius: 8px;
        border-top: 3.194px solid var(--colors-base-grey-3, #252C3A);
        border-right: 3.194px solid var(--colors-base-grey-3, #252C3A);
        border-bottom: 6.387px solid var(--colors-base-grey-3, #252C3A);
        border-left: 3.194px solid var(--colors-base-grey-3, #252C3A);
        background: var(--colors-base-grey-4, #1D2330);

        cursor: pointer;

        position: relative;

        .feedback {
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2.4rem;

            span {
                overflow: hidden;
                color: var(--grey-1);
                text-align: center;
                text-overflow: ellipsis;
                font-family: Sora;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%; /* 17.6px */
            }
        }
    }

    .card:nth-child(2) {
        border-radius: 8px;
        border-top: 3.194px solid var(--colors-green-light, #ABF770);
        border-right: 3.194px solid var(--colors-green-light, #ABF770);
        border-bottom: 6.387px solid var(--colors-green-light, #ABF770);
        border-left: 3.194px solid var(--colors-green-light, #ABF770);
        background: var(--colors-base-grey-6, #161A24);
    }

    .card:nth-child(3) {
        border-radius: 8px;
        border-top: 3.194px solid var(--colors-red-light, #F77070);
        border-right: 3.194px solid var(--colors-red-light, #F77070);
        border-bottom: 6.387px solid var(--colors-red-light, #F77070);
        border-left: 3.194px solid var(--colors-red-light, #F77070);
        background: var(--colors-base-grey-6, #161A24);
    }
}

#footer {
    display: flex;
    justify-content: space-between;

    .wrapper {
        span {
            color: var(--grey-1);
            font-weight: 700;
            line-height: 110%;
        }
    
        span:nth-child(1) {
            font-size: 2rem;
        }
    
        span:nth-child(2) {
            font-size: 1.2rem;
            letter-spacing: 3.6px;
        }
    }

    .skip {
        cursor: pointer;
    }
}