/* Language Selector Component */
.site-header {
  position: relative;
  }
  
  .lang-selector {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 999;
  }
  
  .lang-btn {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      
      padding: 8px 10px;
      border-radius: 10px;
      border: none;
      background: var(--surface-tertiary);
      cursor: pointer;
  
      white-space: nowrap;
  
      transition:
      background 0.2s ease,
      transform 0.15s ease;
  }
  
  .lang-btn:hover {
      background: var(--surface-quartiary);
  }
  
  .lang-btn[aria-expanded="true"] .lang-chevron {
      transform: rotate(180deg);
  }
  
  .lang-text {
      font-family: var(--poppins);
      font-size: 16px;
      line-height: 140%;
      color: var(--text-secondary);
  }
  
  .lang-chevron {
      color: var(--text-secondary);
      transition: transform 180ms ease;
  }
  
  /* Language Selector Component - Menu Open */
  .lang-menu {
      position: absolute;
      right: 0;
      margin-top: 4px;
  
      padding: 8px;
      border-radius: 12px;
      background: var(--surface-tertiary);
  
      width: max-content;
      display: none;
  }
  
  .lang-menu.open {
      display: block;
  }
  
  .lang-option {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      color: var(--text-secondary);
  }
  
  .lang-option:hover {
      background: var(--surface-quartiary);
  }

/* aside com a foto preenchendo tudo */
.sidebar {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding: 32px;

  background-image: url("../img/cake.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
}

.sidebar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.sidebar > * {
  position: relative;
  z-index: 1;
}

.sidebar .brand-title {
    font-family: var(--ff-logo);
    color: var(--accent-pink);
    font-size: 40px;
}

.sidebar .brand-subtitle {
    font-family: var(--ff-body);
    font-size: var(--fs-body-md);
    color: var(--text-body);
}

.sidebar .sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 16px;
}