* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Typography */
  --ff-logo: "Leckerli One", cursive;
  --ff-heading: "Baloo 2", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --ff-body: "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  --fs-logo: 40px;

  --fs-heading-md: 28px;
  --fs-heading-sm: 18px;

  --fs-body-md: 16px;
  --fs-body-sm: 14px;
  --fs-body-xs: 12px;

  --lh-auto: 1.2;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Colors */
  /* Brand */
  --brand-light: #59B2FF;
  --brand-mid:   #3487CF;
  --brand-dark:  #1D6FB6;

  /* Accent */
  --accent-purple:  #B259FF;
  --accent-fuchsia: #FF59F9;
  --accent-pink:    #FF598B;
  --accent-orange:  #FF8B59;
  --accent-yellow:  #FFCD59;

  --accent-lime:  #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan:  #59FFFF;
  --accent-navy:  #6A59FF;

  /* Feedback */
  --feedback-danger: #FF5959;

  /* Input */
  --input-base:        #1C1F21;
  --input-stroke:      #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body:       #212427;
  --shape-button:     #2D3136;
  --shape-hover:      #383D42;

  /* Text */
  --text-body:    #C8CDD0;
  --text-heading: #F9F9F9;
}

body {
  overflow: hidden;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}