* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --onyx: rgba(255, 255, 255, 0.12);

    --opal: #FFF;
    --opal-12: rgba(255, 255, 255, 0.12);

    --amethyst: #CDA5F8;
    --amethyst-24: rgba(205, 165, 248, 0.24);
}

body {
    font-size: 1.6rem;
}