* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --black-10: rgba(0, 0, 0, 0.10);

  --white-80: rgba(255, 255, 255, 0.80);
  --white-60: rgba(255, 255, 255, 0.60);
  --white-20: rgba(255, 255, 255, 0.20);
  --white-10: rgba(255, 255, 255, 0.10);
  --white: #FFFFFF;
}

body {
  font-size: 1.6rem;
  color: var(--white);

  background: lightgray url("../img/") 50% / cover no-repeat;
}

body * {
  font-family: 'Inter', sans-serif;
}

.side-menu {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}