* {
  pading: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-color: #34355B;
  --btn-color: #FF9500;

  --fortune-cookie-answer-box-color: #E4EDF1;
}

body {
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  width: 100%;

  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: min(42.8rem, 90%);

  background: white;

  border-radius: 5px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  
  padding-top: 4.8rem;
  padding-left: 11.1rem;
  padding-right: 11.1rem;
  padding-bottom: 6.4rem;
}

.hide {
  display: none !important;
}

.fortune-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;

    color: var(--font-color);
  }

  span:nth-child(2) {
    padding-bottom: 1.4rem;

  }

  p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    color: var(--font-color);

    padding-bottom: 2rem;
  }

  img {
    width: 300px;
    height: 200px;

    cursor: pointer;  
  }
}
